/*
 * Автоматически сконвертировано из Vial (.vil) в ZMK.
 * Проверьте раскладку перед прошивкой!
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        // Home row mod для ЛЕВОЙ руки: срабатывает как модификатор только
        // если параллельно нажата клавиша ПРАВОЙ руки (positional hold-tap).
        // Это убирает случайные срабатывания при быстром наборе одной рукой.
        // Зеркальный home row mod для ПРАВОЙ руки.
    };

    macros {
        macro_to3_rgbrev: macro_to3_rgbrev {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 3 &rgb_ug RGB_EFR>;
        };

        macro_to0_rgbfwd: macro_to0_rgbfwd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_EFF &to 0>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left-shift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <15 14>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };

        right-shift {
            bindings = <&kp RSHIFT>;
            key-positions = <20 21>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };

        symbols-right {
            bindings = <&mo 5>;
            key-positions = <20 19>;
            layers = <0>;
        };

        symbols-left {
            bindings = <&mo 5>;
            key-positions = <15 16>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E           &kp R  &kp T        &kp Y    &kp U  &kp I          &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D           &kp F  &kp G        &kp H    &kp J  &kp K          &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C           &kp V  &kp B        &kp N    &kp M  &kp COMMA      &kp DOT  &kp FSLH  &kp RSHFT
                         &mt LALT K_APP  &mo 1  &kp SPACE    &kp RET  &mo 2  &mt LGUI CAPS
            >;
        };

        lower_layer {
            bindings = <
&kp N1  &kp N2            &kp N3            &kp N4     &kp N5    &kp N6       &kp N7   &kp N8    &kp N9     &kp N0    &kp MINUS  &kp EQUAL
&trans  &kp LA(F4)        &kp LG(LS(UP))    &kp ESC    &kp UP    &kp GRAVE    &kp INS  &kp HOME  &kp PG_UP  &kp LBKT  &kp RBKT   &kp BSLH
&trans  &kp LG(LS(DOWN))  &kp LG(LS(LEFT))  &kp LEFT   &kp DOWN  &kp RIGHT    &kp DEL  &kp END   &kp PG_DN  &kp F23   &kp F24    &trans
                                            &kp PSCRN  &trans    &trans       &trans   &trans    &kp LGUI
            >;
        };

        raise_layer {
            bindings = <
&kp F1  &kp F2      &kp F3        &kp F4        &kp F5             &kp F6             &kp F7     &kp F8     &kp F9     &kp F10    &kp F11    &kp F12
&trans  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &rgb_ug RGB_EFF    &rgb_ug RGB_BRI    &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_N4  &kp KP_N5  &kp KP_NUM
&trans  &kp C_PP    &kp C_PREV    &kp C_NEXT    &rgb_ug RGB_EFR    &rgb_ug RGB_BRD    &kp KP_N6  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_N0  &trans
                                  &kp LALT      &macro_to3_rgbrev  &trans             &trans     &trans     &kp LGUI
            >;
        };

        game_layer {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E  &kp R      &kp T               &kp Y    &kp U              &kp I      &kp O    &kp P     &kp BSPC
&kp LSHFT  &kp A  &kp S  &kp D  &kp F      &kp G               &kp H    &kp J              &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V      &kp B               &kp N    &kp M              &kp COMMA  &kp DOT  &kp FSLH  &trans
                         &mo 4  &kp SPACE  &mt LEFT_ALT ESC    &kp RET  &macro_to0_rgbfwd  &kp CAPS
            >;
        };

        num2_layer {
            bindings = <
&trans  &kp N1     &kp N2  &kp N3  &kp N4  &kp N5    &kp F1  &kp F2  &none  &none  &none  &none
&trans  &kp N6     &kp N7  &kp N8  &kp N9  &kp N0    &none   &none   &none  &none  &none  &none
&trans  &kp PSCRN  &none   &none   &kp F5  &kp F9    &none   &none   &none  &none  &none  &none
                           &none   &trans  &trans    &none   &trans  &none
            >;
        };

        symbol_layer {
            bindings = <
&none  &none         &kp QUESTION  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &none            &none          &kp SEMICOLON  &kp COLON      &kp LBKT      &kp RBKT      &none
&none  &kp LS(EXCL)  &kp LS(AT)    &kp LS(POUND)     &kp LS(DLLR)       &kp LS(PRCNT)    &kp LS(CARET)  &kp LS(AMPS)   &kp LS(STAR)   &kp LS(LPAR)  &kp LS(RPAR)  &none
&none  &none         &none         &kp BSLH          &kp MINUS          &kp LS(PLUS)     &kp EQUAL      &kp GRAVE      &kp LS(TILDE)  &kp LS(LBRC)  &kp LS(RBRC)  &none
                                   &none             &none              &none            &none          &none          &none
            >;
        };
    };
};
